#ti{
    float: left;
}

.Presentacion{
    text-align: center;
}

#fila_de_sucursales{
    display: flex;
    justify-content: center;
}

nav{
    background-color: #bf2d32;
    height: 70px;
    border-bottom: 5px solid #fff;
}
nav ul li{
    float: right;
    list-style: none;
    margin: 10px;
    color: #fff;
    font-size: 20 px;
    line-height: 50px;

}
nav li:hover{
    background-color: red;
}

#Titulo{
    background-color: blue;
    text-align: center;
    height: 200px;
    width: 100%;
    line-height: 200px;
}

footer{
    background-color: #015f97;
    color: #fff;
    list-style: none;
    height: 50px;
    line-height: 50px;
}

li{
    display: inline-flex;
    margin: 4px;
    list-style: none;
    float: left;

}

#logo{
    height: 50px;
    justify-content: left;
}

.red_social{
    margin: 10px;
    height: 30px;
    width: 30px;
}

/*estilo del carusel */

.carusel{
    margin: auto;
    max-width: 400px;
    position:relative
}

.anterior, .siguiente{
    position: absolute;
    cursor:pointer;
    top:50%;
    width: auto;
    height: auto;
    margin-top: -22;
    padding: 16xp;
    transition: 0,6 ease;
    color: #015f97
}

.siguiente{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.descripcion{
    font-size:15px;
    color:#015f97;
    padding: 8 12px;
    width: 100%;
    text-align: center;
}

/* animacion para el paso de cada imagen*/

.fade{
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade{
    from{opacity: 4}
    to{opacity:1}
}