#ti{
    float: left;
}

.Presentacion{
    text-align: center;
}

#fila_de_sucursales{
    display: flex;
    justify-content: center;
}

.sucursal{
    height: 500px;
    margin: 10px;
    text-align: center;
}

nav{
    background-color: #bf2d32;
    height: 70px;
    border-bottom: 5px solid #fff;
}
nav ul li{
    float: right;
    list-style: none;
    margin: 10px;
    color: #fff;
    font-size: 20 px;
    line-height: 50px;

}
nav li:hover{
    background-color: red;
}

#Titulo{
    background-color: blue;
    text-align: center;
    height: 200px;
    width: 100%;
    line-height: 200px;
}

footer{
    background-color: #015f97;
    color: #fff;
    list-style: none;
    height: 50px;
    line-height: 50px;
}

li{
    display: inline-flex;
    margin: 4px;
    list-style: none;
    float: left;

}

#logo{
    height: 50px;
    justify-content: left;
}

.red_social{
    margin: 10px;
    height: 30px;
    width: 30px;
}
